:root {
  --n2-primary-color: #e4e6eb;
  --n2-loading-bg-color: #333;
  --n2-sidebar-bg-color: #333;
  --n2-sidebar-hover-bg-color: #444;
  --n2-main-bg-color: #444;
  --n2-hr-color: #777;
  --n2-white-opacity-bg-color: rgba(244, 244, 244, 0.4);
  --n2-359bed-opacity-color: rgba(53, 155, 237, 0.3);
  --n2-mention-color: #eff;
  --n2-mention-bg-color: rgba(0, 139, 139, 0.4);
  --n2-not-me-msg-background: var(--n2-sidebar-bg-color);
  --n2-not-me-msg-box-shadow: #233;
  --n2-me-msg-background: #369;
  --n2-me-msg-box-shadow: #234f7a;
}

#loading-page {
  background-color: var(--n2-loading-bg-color);
  color: var(--n2-primary-color);
}

/* ------------------
    
    DASHBOARD
    
    --------------- */

#app #chatOnboard,
#app #chatOnboard .chat-onboard,
#app #chatOnboard .chat-onboard * {
  background-color: var(--n2-sidebar-bg-color);
  color: var(--n2-primary-color);
}

#chatViewContainer {
  background-color: var(--n2-main-bg-color);
  color: var(--n2-primary-color);
}

#chatViewContainer #header,
#chatViewContainer #header .title.header-title,
#chatViewContainer #header .icon-only {
  background-color: var(--n2-sidebar-bg-color);
  color: var(--n2-primary-color);
}

#chatViewContainer #header .truncate {
  background-color: brown;
  padding: 0.2em 0.8em;
  border-radius: 3px;
  color: var(--n2-primary-color) !important;
}

/* ------------------
    
    MESSAGE
    
    --------------- */

#chatViewContainer #chat-view,
#messageViewScroll,
#messageViewContainer {
  background-color: var(--n2-main-bg-color);
  color: var(--n2-primary-color);
}

.chat-message,
.chat-message a {
  color: var(--n2-primary-color);
}

.card {
  border-radius: 0.3em;
}

.card,
.card[data-id="div_ReceivedMsg_Text"],
.card[data-id="div_LastReceivedMsg_Text"],
.card.card--oa > .oa-msg-child,
.card.card--oa > .oa-msg-header,
.img-msg-v2.-bg-v-1 .img-msg-v2__bub>.img-msg-v2__th,
.img-msg-v2.-caption.-me>.img-msg-v2__bub {
  background-color: var(--n2-not-me-msg-background);
  color: var(--n2-primary-color);
  box-shadow: 0 0 3px var(--n2-not-me-msg-box-shadow);
}

.card.me,
.card.me[data-id="div_SentMsg_Text"],
.card.me[data-id="div_LastSentMsg_Text"],
.chat-message.me .img-msg-v2.-bg-v-1 .img-msg-v2__bub>.img-msg-v2__th,
.chat-message.me .img-msg-v2.-caption.-me>.img-msg-v2__bub{
  background-color: var(--n2-me-msg-background);
  box-shadow: 0 0 3px var(--n2-me-msg-box-shadow);
  color: var(--n2-primary-color);
}

.card.card--sticker {
  background-color: transparent;
  box-shadow: none;
}

a.mention-name,
.card.card--text .mention-name,
.card.card--text a.mention-name {
  padding: 0em 0.2em;
  color: var(--n2-mention-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
}

.card .rel.quote-banner {
  background-color: var(--n2-white-opacity-bg-color) !important;
}

.card .rel.quote-banner .quote-banner-content .quote-text {
  color: var(--n2-primary-color);
}

.card .message-reaction-container .reacts-list,
.img-msg-v2 .reacts-list {
  background-color: var(--n2-sidebar-bg-color);
}

.card .message-reaction-container .msg-reaction-icon {
  background-color: var(--n2-sidebar-bg-color);
}

.card.card--text a,
.card.card--link a {
  padding: 0.1em 0.5em;
  color: var(--n2-primary-color);
  text-decoration: underline;
}

#ztoolbar.chat-input-v2,
#ztoolbar.chat-input-v2 .z--btn.icon-only {
  background-color: var(--n2-main-bg-color);
  color: var(--n2-primary-color);
}

.chat-input-container {
  background-color: var(--n2-sidebar-bg-color);
  color: var(--n2-primary-color);
}

.doing-something {
  background-color: var(--n2-white-opacity-bg-color);
}

.img-msg-v2.-caption:not(.-me) > .img-msg-v2__bub {
  background-color: var(--n2-not-me-msg-background);
}

/* --------------------

OTHERS COMPONENTS IN MESSAGE PANEL

---------------*/
#chatViewContainer .message-view__banner,
#chatViewContainer .message-view__banner .message-view__banner__text,
.chat-group-topic *,
.group-poll-info .group-poll-info-msg-info,
.group-poll-info .group-poll-info-more,
.group-poll-info .group-poll-info-body,
.group-poll-info .group-poll-info-body .group-poll-info-title {
  background-color: var(--n2-sidebar-bg-color) !important;
  color: var(--n2-primary-color) !important;
}

.group-poll-info-content-item {
  background-color: #565656;
}
.group-poll-info .group-poll-info-body .group-poll-info-content-item-progress,
.group-poll-vote-content-item-progress {
  background-color: darkcyan;
}

#chatViewContainer .group-topic:before,
#chatViewContainer .message-view__banner:before,
#chatViewContainer .msgbannerbf {
  border-bottom: solid 1px var(--n2-main-bg-color);
}

#chatViewContainer .chat-group-topic__item.border-two-sided {
  border-color: var(--n2-main-bg-color);
}

#message-view__blur {
  display: none;
}

/* ------------------
    
    SIDE BAR
    
    --------------- */

#sidebarNav,
#sidebarNav #contact-search,
#conversationListId,
#conversationListId .msg-item .conv-item {
  background-color: var(--n2-sidebar-bg-color);
  color: var(--n2-primary-color);
}

#conversationListId .msg-item .conv-item:hover {
  background-color: var(--n2-sidebar-hover-bg-color);
}

#conversationListId .msg-item .conv-item .conv-message.truncate .truncate {
  color: var(--n2-primary-color);
  filter: brightness(0.9);
  font-style: italic;
  font-size: 95%;
}

.conv-item.selected,
#conversationListId .msg-item .conv-item.selected,
#contactList .conv-item.selected {
  background-color: var(--n2-main-bg-color);
}

.conv-item .conv-item-title .conv-item-title__name,
#conversationListId .msg-item .conv-item-title .conv-item-title__name,
#contactList .conv-item .conv-item-title .conv-item-title__name {
  color: var(--n2-primary-color);
  font-size: 95%;
}

#contactList .item,
#contactList .conv-item,
#contactList .contact-list-item {
  background-color: transparent;
}

/* ------------------
    
    HR
    
    --------------- */
.msg-filters-bar {
  border-top: solid 1px var(--n2-hr-color);
}

nav {
  border-right: solid 1px var(--n2-hr-color);
}

/* ------------------
    
    AVATAR
    
    --------------- */

.zl-avatar {
  border-color: var(--n2-sidebar-bg-color);
  box-shadow: none;
}

.zl-avatar .zl-avatar__photo {
  background-color: var(--n2-sidebar-bg-color);
}
